<meta property="fb:app_id" content="628994907987448">
<meta property="og:url" content="{{meta_href}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{meta_title}}">
<meta property="og:description" content="{{meta_content}}">
<meta property="og:image" content="{{meta_image}}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="320">
<meta property="og:image:height" content="200">

<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <button shareButton="facebook">Share</button>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
