<div *ngIf="apNews && apNews.length > 0">
  <ul>
    <li *ngFor="let item of apNews">
      <h2><a href="{{item.link}}">{{item.title}}</a></h2>
      <img src="{{item.thumbnail}}" />
      <p>{{item.description}}</p>
    </li>
  </ul>
</div>
